* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --container-bg: #1f2630;
}

body {
  display: grid;
  min-height: 100vh;
  place-content: center;
  margin: 1rem;
  background-color: var(--very-dark-blue);

}

.App {
  background-color: var(--container-bg);
  max-width: 27.6rem;
  border-radius: 25px;
  padding: 2rem;
}

.rating__icon {
  background-color: var(--dark-blue);
  width: 2.9rem;
  height: 2.9rem;
  padding: 0.9rem;
  border-radius: 50%;
  margin-bottom: 1.95rem;
}

.header h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1.95rem;

}

.header p {
  color: var(--light-grey);
  line-height: 1.5rem;
  align-items: self-start;
}


.buttons {
  margin: 1.95rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rate {
  background-color: var(--dark-blue);
  height: 3.5rem;
  width: 3.5rem;
  padding: 1.2rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.rate:hover {
  background-color: #fff;
  color: var(--container-bg);
  cursor: pointer;
}

button {
  margin-top: 1rem;
  outline: none;
  border: none;
  width: 23.56rem;
  border-radius: 40px;
  padding: 0.9rem 0;
  text-transform: uppercase;
  background-color: var(--orange);
  color: var(--very-dark-blue);
  font-weight: 700;
  letter-spacing: 2px;
}

button:hover {
  background-color: #fff;
  cursor: pointer;
}

.selected {
  background-color: var(--orange);
}

.thank__container{
  display: flex;
  flex-direction: column;
  gap: 1.95rem;
  justify-content: center;
  align-items: center;
}

.rating__value svg{
  margin: 1.5rem 0;
}

.rating__selection{
  width: fit-content;
  background-color: var(--dark-blue);
  color: var(--orange);
  padding: 0.5rem 1.4rem;
  border-radius: 35px;
  font-weight: 400;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
}

.footer h1{
  color: #fff;
  font-size: 32px;
  margin-bottom: 1rem;
}

.footer p{
  color: var(--light-grey);
  line-height: 1.6rem;
}